<div class="search-block">
  <bw-input
    [id]="'breweries-search-input'"
    type="text"
    [label]="'Search by city'"
    [formControl]="breweriesService.searchControl"
    placeholder="Enter a city"
    class="search-input"
  />

<bw-button [disabled]="!breweriesService.searchControl.value || breweriesService.isLoading()" (click)="onSearch()" class="search-btn">Search</bw-button>

@let suggestions = citySuggestions();

@if (suggestions?.length) {
  <div class="suggestions">
    @for (city of suggestions; track city) {
      <div class="suggestion-item" (click)="onSelectCity(city)">{{ city }}</div>
    }
  </div>
}

</div>
